body {
  background-color: #dff9fb;
}
#puzzle {
  position: relative;
  width: 325px;
  height: 325px;
  margin: 0 auto;
  margin-top: 80px;
  border: 8px solid #001f1f;
  border-radius: 4px;
}
#puzzle div {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 4px;
}
.puzzle {
  -webkit-transition: 0.15s left, 0.15s top;
  transition: 0.15s left, 0.15s top;
}
.tile {
  cursor: pointer;
  font: bold 36px/80px Arial;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
}
.empty {
  background: transparent;
}
